body, html{ margin:0; padding:0; font-family:Arial;}
* { box-sizing:border-box; }

main{
    display: grid;
    gap: 1rem;
    justify-content: end;
    padding-right: 1rem;
    height: 100vh;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    align-items: center;
}

.circle{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background: black;
    border: solid white;
    font-weight: bold;
    font-size: .4rem;
    text-transform: uppercase;
    cursor: pointer;
    color:white;
    display: grid;
    place-items:center;
}

.sections div h1 {
    opacity: 0;
}

.circle:hover ~.sections div h1 {
    animation: fadeIn .4s 1s forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform:translateY(-2rem);
    }
    to{
        opacity: 1;
        transform:translateY(0);
    }
}


.circle:nth-child(1){
    background: green;
}

.circle:nth-child(1):hover ~ .sections .left {
    left:0;
}

.circle:nth-child(2){
    background: yellow;
}
.circle:nth-child(2):hover ~ .sections .right {
    top: 0;
}

.circle:nth-child(3){
    background: blue;
}
.circle:nth-child(3):hover ~ .sections .bottom {
    bottom: 0;
}
.circle:nth-child(4){
    background: red;
}
.circle:nth-child(4):hover ~ .sections .top {
    left: 0;
}
.circle:nth-child(5){
    background: lightblue;
}
.circle:nth-child(5):hover ~.sections .left{
    left: 0;
}
.circle:nth-child(5):hover ~.sections .right{
    left: 0;
}.circle:nth-child(5):hover ~.sections .bottom{
    left: 0;
}.circle:nth-child(5):hover ~.sections .top{
    left: 0;
}.circle:nth-child(5):hover ~.sections .all{
    left: 0;
}

.sections div {
    position: fixed;
    display: grid;
    place-items: center;
    color: white;
    transition: .5s ease-in-out;
    z-index: -1;
}


.sections div.left{
    top: 0;
    left: -40vw;
    width: 40vw;
    height: 100vh;
    background: green;
}

.sections div.right{
    top: 0;
    right: -40vw;
    width: 40vw;
    height: 100vh;
    background: yellow;
}

.sections div.bottom{
    bottom: -20vh;
    left:0;
    width: 100vw;
    height: 20vh;
    background: blue;
}

.sections div.top{
    top: 0;
    left: -40vw;
    width: 40vw;
    height: 100vh;
    background: red;
}
